<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
 <h1>Deallia Dunbar</h1>
 <img src= "{{url_for('static' , filename='img/tropical.JPG') }}" height="300px" width="300px"/>
 <p>I am a Computer Science major. I'm currently 20 years old and I use to attend the Marymount High school. I enjoy playing netball, dancing and gaming. 
    I'm interested in the field of cybersecurity and I believe web development will provide me with useful skills that will help me in my future career.</p>
</body>
</html>